extends ./layout.jade

block append scripts
  script(src='/js/game.js')
  script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')

block content
  h3#status
  h3#turn
  div#tictactoe
  button#end-game.
    drop out
