html
  head
    title!=title
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js')

    block styles  
      link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css')
      link(rel='stylesheet', href='css/layout.css')

    body
      #accountbar
        a(href='/signin')
          button(class="sign").
            Sign in
        a(href='/signup')
          button(class="sign").
            Sign up
        a(href='/')
          button(class="home").
            Home

      #container
        h2!=title
        block content
