extends ./layout.jade

block append scripts
  script(src='/js/recover.js')
  script(src='/js/serialize.js')
  script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')

block append styles
  link(rel='stylesheet', href='css/sign.css')

block content
  p enter the mail address linked to your account
  form
    p
      input(type="email", name="email", placeholder="someone@example.com", required)
    p.button
      input(type="submit", value="Send")