extends ./layout.jade

block append scripts
  script(src='/js/status.js')

block append styles
  link(rel='stylesheet', href='css/status.css')

block content
    ul#services-list
      each service, i in services
        li.text=service.url
