extends ./layout.jade

block append scripts
  script(src='/js/status.js')

block append styles
  link(rel='stylesheet', href='css/status.css')

block content
  table#status
    thead
      th Name
      th Host
      th Ping(ms)
    tbody
      each service, i in services
        tr 
          td= service.name
          td#service-url= service.url
          td(class="ping") -
