body {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 85%;
}

table {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
  height: 18px;
  border: 1px solid silver;
  border-collapse:separate; 
  border-spacing:.2em;
}

table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

input {
  display: block;
  padding: 1%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input:focus, input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#accountbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	margin-bottom: 1%;
	margin-top: 1%;
}

#accountbar button {
	margin: .5%;
	float: right;
}

#container {
  margin-top: 10%;
  width: 700px;
  margin-left: auto ;
  margin-right: auto ;
}
