#services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
}


#services-list li {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
  height: 18px;
  border: 1px solid silver;
}

.ok {
  background: rgba(0,163,0, 0.5);
}

.not-found {
  background: rgba(238,17,17, 0.5);
}

.timout {
  background: rgba(255,196,13, 0.5);
}
